<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler,NLog" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <nlog>
    <targets>
      <target name="AppExceptionLog" type="file" filename="C:\Logs\TMF.FollowME.Service.Exception.${date:format=yyyyMMdd}.log" layout="${longdate} ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="AppExceptionLog" minLevel="Error" appendTo="AppExceptionLog" />
    </rules>
  </nlog>
  <dataConfiguration defaultDatabase="TMF_FOLLOWME"/>
  <connectionStrings>
    <add name="TMF_FOLLOWME" connectionString="Server=172.30.22.31;Database=TMF_FOLLOWME;user=paulo.aparecido;pwd=pl34#1602;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ServiceName" value="TMF.FollowME.Services.WCF"/>
    <add key="ServiceUser" value="USR_MD_SVC"/>
    <add key="ServiceUserPwd" value="1234"/><!--Ambiente DSV-->
    <!--<add key="ServiceUserPwd" value="TMF@prioriMDSVC"/>--><!--Ambiente HMG, PRD-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
       
        <binding name="NetTcpBinding_ICliente">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IEmpresa">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IFilial">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IUsuario">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IWCFAuthentication" />
        <binding name="portSharingBinding" portSharingEnabled="true" transactionFlow="true" maxBufferPoolSize="2147483647" >
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NetTcpBehavior">
          <serviceCredentials>
            <userNameAuthentication
               userNamePasswordValidationMode="Custom"
               customUserNamePasswordValidatorType="TMF.Protheus_HRP.Services.Seedwork.Security.ServiceCredentialsValidator, TMF.Protheus_HRP.Services.Seedwork" />
            <serviceCertificate storeLocation="LocalMachine"
                                storeName="My"
                                x509FindType="FindByIssuerName"
                                findValue="B170734.apriori.local"/>
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceSecurityAudit auditLogLocation="Application"
                               serviceAuthorizationAuditLevel="Failure"
                               messageAuthenticationAuditLevel="Failure"
                               suppressAuditFailure="true" />
        </behavior>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="TMF.Protheus_HRP.Services.WCF.Processo" behaviorConfiguration="NetTcpBehavior">
        <endpoint address=""    binding="netTcpBinding" bindingConfiguration="portSharingBinding" contract="TMF.Protheus_HRP.Services.Contratcs.IProcesso"/>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <!--<endpoint address="" binding="basicHttpBinding"  contract="TMF.FollowME.Services.Contratcs.IProcesso"/>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />-->
      </service>
      <service name="TMF.FollowME.Services.WCF.CabFunc" behaviorConfiguration="NetTcpBehavior">
        <endpoint address=""    binding="netTcpBinding" bindingConfiguration="portSharingBinding" contract="TMF.FollowME.Services.Contratcs.ICabFunc"/>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <!--<endpoint address="" binding="basicHttpBinding"  contract="TMF.FollowME.Services.Contratcs.IProcesso"/>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />-->
      </service>
      <service name="TMF.FollowME.Services.WCF.ProcessoTarefa" behaviorConfiguration="NetTcpBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" contract="TMF.FollowME.Services.Contratcs.IProcessoTarefa"/>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <!-- <endpoint address="" binding="basicHttpBinding"  contract="TMF.FollowME.Services.Contratcs.IProcessoTarefa"/>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" /> -->
      </service>
      <service name="TMF.FollowME.Services.WCF.Fluxo" behaviorConfiguration="NetTcpBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" contract="TMF.FollowME.Services.Contratcs.IFluxo"/>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <!-- <endpoint address="" binding="basicHttpBinding"  contract="TMF.FollowME.Services.Contratcs.IFluxo"/>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" /> -->
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://dsv2.pwco.com.br/MasterDataServices/ClienteService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICliente"
        contract="WCFClienteService.ICliente" name="NetTcpBinding_ICliente"
        behaviorConfiguration="ClientCertificateBehavior">
        <identity>
          <dns value="pwco.com.br" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://dsv2.pwco.com.br/MasterDataServices/EmpresaService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmpresa"
        contract="WCFEmpresaService.IEmpresa" name="NetTcpBinding_IEmpresa"
        behaviorConfiguration="ClientCertificateBehavior">
        <identity>
          <dns value="pwco.com.br" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://dsv2.pwco.com.br/MasterDataServices/FilialService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFilial"
        contract="WCFFilialService.IFilial" name="NetTcpBinding_IFilial"
        behaviorConfiguration="ClientCertificateBehavior">
        <identity>
          <dns value="pwco.com.br" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://dsv2.pwco.com.br/MasterDataServices/UsuarioService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUsuario"
        contract="WCFUsuarioService.IUsuario" name="NetTcpBinding_IUsuario"
        behaviorConfiguration="ClientCertificateBehavior">
        <identity>
          <dns value="pwco.com.br" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://dsv2.pwco.com.br/MasterDataServices/WCFAuthenticationService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCFAuthentication"
        contract="WCFAuthenticationService.IWCFAuthentication" name="NetTcpBinding_IWCFAuthentication"
        behaviorConfiguration="ClientCertificateBehavior">
        <identity>
          <servicePrincipalName value="host/PWCDSVAPPINT1" />
        </identity>
      </endpoint>
    </client>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
