<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICliente">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IEmpresa">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IFilial">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IUsuario">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IWCFAuthentication" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://dsv2.pwco.com.br/MasterDataServices/ClienteService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICliente"
        contract="WCFClienteService.ICliente" name="NetTcpBinding_ICliente">
        <identity>
          <dns value="pwco.com.br" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://dsv2.pwco.com.br/MasterDataServices/EmpresaService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmpresa"
        contract="WCFEmpresaService.IEmpresa" name="NetTcpBinding_IEmpresa">
        <identity>
          <dns value="pwco.com.br" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://dsv2.pwco.com.br/MasterDataServices/FilialService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFilial"
        contract="WCFFilialService.IFilial" name="NetTcpBinding_IFilial">
        <identity>
          <dns value="pwco.com.br" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://dsv2.pwco.com.br/MasterDataServices/UsuarioService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUsuario"
        contract="WCFUsuarioService.IUsuario" name="NetTcpBinding_IUsuario">
        <identity>
          <dns value="pwco.com.br" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://dsv2.pwco.com.br/MasterDataServices/WCFAuthenticationService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCFAuthentication"
        contract="WCFAuthenticationService.IWCFAuthentication" name="NetTcpBinding_IWCFAuthentication">
        <identity>
          <servicePrincipalName value="host/PWCDSVAPPINT1" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>